// CREATE VARIABLES
$white: #FFF;
$black: #000;
$goldPrimary: #FFD700;
$linkColorHover: #B8860B;
$blue: #4169E1;
$bgBlack: #212121;
$darkGray: #666;
$mediumGray: #999;
$lightGray: #CCC;
$anchorBg: #EEE;
$textShadow: 0 1px 1px #333;
$ulBorder: 1px solid #CCD;

$main-font-stack: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

$headingFont: 'Damion', cursive;
$spanFont: Impact, sans-serif;
$bodyFont: Arial, sans-serif;

